header{
    background-color: antiquewhite;
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    display: flex;

}

 

li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;

}

a{
    color: black;
    font-size: 1rem;
    text-decoration: none;
}

/* Banner styles */

.banner-content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;

}

.banner-title{
    color: black;
    font-size: 4rem;
    font-weight: 600;
}

/* Button Related Styles */
.btn-primary{
    background-color: salmon;
    padding: 24px 28px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

/* Main Related Styles */

main{
    max-width: 1440px;
    margin: 0 auto;
}


.teams-container{
    display: flex;
    align-items: center;
    margin-top: 50px;

}


.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}

/*feature styles*/
.feature{
    display: flex;
    margin-top:130px;
    gap: 100px;
}

 .feature .feature-card{
    border-radius: 8px;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid slategray;
    padding: 80px 30px;
    margin-top: 60px;
}

.feature-img img{
    height: 75%;
    margin-left: 60px;
}

.ten-years{
    border-radius: 8px;
    background-color: orange;
    color: white;
    width: 342px;
    padding: 5px;
    text-align: center;
    position: relative;
    bottom: 65px;
}

.ten-years h2{
    font: 4.5rem;
}

 /*facts section*/

 .facts-card-container{
    display: flex;
    justify-content: center;
}
.card{
    border: 2px solid rebeccapurple;
    border-radius: 7px;
    padding: 70px;
    text-align: center;
}
 .card-title{
    margin-top: 20px;
    margin-bottom: 20px;
 }   
 .sponsor-img-container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 0 auto;
}

.sponsor{
    margin: 0 auto;
}

/* Responsive Mobile size Related Styles */

@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav , .teams-container , .facts-card-container, .sponsor-img-container, .feature{
        flex-direction: column;
        grid-template-columns: 1fr;
    }
    .teams-img-container{
      grid-template-columns: 1fr;
    }
    .teams-content , .card{
        padding-left: 10px;
        padding-right: 10px;
    }
    .facts-card-container{
        gap:15px
    }
    .sponsor-img-container, .sponsor{
        padding: px;
    
    }
    .sponsor{
        text-align: center;
        margin-bottom: 30px;
    }
    .sponsor-img-container{
        width: 170px;
    }
    .feature-img img{
        margin-left: 0px;
        max-width: 50%;
        
    }
    .ten-years{
        position: static;
        max-width: 300px;
    }
     
}
    



/* Tablet Size Style*/

@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    
}

